@font-face {
    font-family: "NotoSans";
    src: url("{{ url_for( 'fonts', filename='NotoSans-Regular.ttf' ) }}")
    format("truetype");
}

@font-face {
    font-family: "NotoSans";
    src: url("{{ url_for( 'fonts', filename='NotoSans-Bold.ttf' ) }}")
    format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "NotoSans";
    src: url("{{ url_for( 'fonts', filename='NotoSans-BoldItalic.ttf' ) }}")
    format("truetype");
    font-style: italic;
}

@font-face {
    font-family: "NotoSans";
    src: url("{{ url_for( 'fonts', filename='NotoSans-Italic.ttf' ) }}")
    format("truetype");
    font-weight: bold;
    font-style: italic;
}

body {
    background: #2C2C2C;
    font-family: "NotoSans", sans;
}

a {
    color: #01DF3A
}

h1 {
    color: #ABB2BF;
}

h2 {
    color: #ABB2BF;
}

p {
    color: #ABB2BF;
}
