.idea
dist/
__pycache__
slcl_server/app/media/*
!slcl_server/app/media/samples/
slcl_server/app/templates/rendered/*
slcl_server/app/templates/fonts/*
slcl_server/app/templates/menu.html
slcl_server/app/static/slcl.key
slcl_server/app/static/slcl.crt

