<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for( 'css', filename='default.css' )}}">
  </head>

  <body>

    {% if ftype == "audio" %}
      <p>Audio</p>
      <audio src="{{ url_for('view', path=path) }}" controls></audio>
    {% else %}

      {% if ftype == "video" %}
      <p>Video</p>
      <video width="640" height="480" controls autoplay>
          <source src="{{ url_for('view', path=path) }}" type="video/mp4">
      </video>
      {% else %}

        {% if ftype == "image" %}
          <p>Image</p>
          <img src="{{ url_for('view', path=path) }}">
        {% else %}
    
          {% if ftype == "application" %}
          <h3><a href="{{ url_for('view', path=path) }}">
            Download the pdf file by clicking here
          </a></h3>
          {% else %}
            <script> window.document.title = 'hOI!!!'</script>
            <p> <b>hOI!!!</b>
              the visaliuzation of these formet is not supported yet; sorRy</p>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
  </body>
</html>
