<!DOCTYPE html>
<html lang="en">
<html>

  <head>
    <meta charset="UTF-8">
  </head>

  <body>

    {% if ftype == "audio" %}
      <p>Audio</p>
      <audio src="{{ url_for('view', path=path) }}" controls></audio>
    {% else %}

      {% if ftype == "video" %}
      <p>Video</p>
      <video width="640" height="480" controls autoplay>
          <source src="{{ url_for('view', path=path) }}" type="video/mp4">
      </video>
      {% else %}

        {% if ftype == "image" %}
          <p>Image</p>
          <img src="{{ url_for('view', path=path) }}">
        {% else %}
          {% if ftype == "application" %}
          <h3><a href="{{ url_for('view', path=path) }}">
            Download the pdf file by clicking here
          </a></h3>
          {% else %}
            <p>"{{ url_for('view', path=path) }}"</p>
            <p> this format is not supported yet, sorry :/> </p>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
  </body>
</html>
