<!DOCTYPE html>
<html lang='en'>
<head>
<link rel="stylesheet" href="{{ url_for('css', filename='default.css' ) }}">
<link rel="stylesheet" href="{{ url_for('css', filename='contextmenu.css' ) }}">
<script src="{{ url_for('js', path='makedir.js') }}"></script>

<title>{{ title }}</title>
</head>
<body>
<div class="button">
    <!-- TODO: buttons -->
    <input type="button" value="Previous page"
           onClick="window.location = '{{ url_for( 'menu', path=prevdir ) }}'">
    <input type="button" value="Create folder" onClick="makedir('{{ directory }}')">
    <input type="button" value="Upload file"
           onClick="window.location = '{{ url_for('templates', path='upload.html') }}'">
</div>

<!--
TODO: Automatically hide contextmenu.
-->
<div style="display:none; "   id="contextMenu">
    <table  border="0" cellpadding="0" cellspacing="0"
        style="border: thin solid #808080; cursor: default;" width="100px"
        bgcolor="White">
        <tr>
            <td >
                <!-- TODO: remove file or directory-->
                <!--<div  class="ContextItem" onclick="delete('')">Delete</div>-->
            </td>
        </tr>
        <tr>
            <td >
                <div  class="ContextItem" onclick="alert('hOI!!!')">Rename</div>
            </td>
        </tr>
        <tr>
            <td >
            <div  class="ContextItem">Save</div>
            </td>
        </tr>
        <tr>
            <td >
                <div  class="ContextItem">View</div>
            </td>
        </tr>
        <tr>
            <td >
                <div  class="ContextItem">Cancel</div>
            </td>
        </tr>
    </table>
</div>

<script src="{{ url_for('js', path='contextmenu.js') }}"></script>


{% if root == True %}
    <h1> Index of: / </h1>
{% else %}
    <h1> Index of: {{ directory }} </h1>
{% endif %}

{% if folders|length > 0 %}
    <h2>Folders:</h2>
    <div oncontextmenu="return false">
        <table>
            {% for folder in folders %}
            <tr>
                <td>
                    <a href={{ url_for('menu', path=directory + '/' + folder) }}>
                        <img src="{{ url_for('static', filename="folder.png") }}" width="40" height="40">
                    </a>
                </td>
                <td>
                <a href={{ url_for('menu', path=directory + '/' + folder) }}
                    onmousedown="HideMenu('contextMenu');"
                    onmouseup="HideMenu('contextMenu');"
                    oncontextmenu="ShowMenu('contextMenu',event);"
                    class="detailItem">
                        {{ folder }}
                 </a>
                </td>
                <br>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}

{% if files|length > 0 %}
    <h2>Files:</h2>
    <div oncontextmenu="return false">
        {% for file in files %}
            <p>
                <a href={{ url_for('display', file=directory + '/' + file) }}
                    onmousedown="HideMenu('contextMenu');"
                    onmouseup="HideMenu('contextMenu');"
                    oncontextmenu="ShowMenu('contextMenu',event);"
                    class="detailItem">
                        {{ file }}
                </a>
            </p>
        {% endfor %}
    </div>
{% endif %}

</body>
</html>